* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v13_1454 {
  width: 100%;
  height: 3182px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v27_3072 {
  width: 100%;
  height: 739px;
  background: url("../images/v27_3072.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v27_3073 {
  width: 100%;
  height: 739px;
  background: url("../images/v27_3073.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v27_3074 {
  width: 100%;
  height: 739px;
  background: rgba(248,238,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v27_3075 {
  width: 100%;
  height: 734px;
  background: url("../images/v27_3075.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v27_3076 {
  width: 100%;
  height: 734px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v27_3077 {
  width: 100%;
  height: 2404px;
  background: url("../images/v27_3077.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 909px;
  left: 409px;
  overflow: hidden;
}
.v27_3078 {
  width: 100%;
  height: 2404px;
  background: url("../images/v27_3078.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v18_870 {
  width: 100%;
  height: 107px;
  background: url("../images/v18_870.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 20px 72px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v18_871 {
  width: 100%;
  height: 67px;
  background: url("../images/v18_871.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 808px;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 72px;
  overflow: hidden;
}
.v259_1354 {
  width: 128px;
  height: 42px;
  background: rgba(79,124,149,1);
  padding: 11px 16px;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v259_1355 {
  width: 96px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 11px;
  left: 16px;
  font-family: Cairo;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v213_2092 {
  width: 60px;
  height: 66px;
  background: url("../images/v213_2092.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1232px;
  overflow: hidden;
}
.v18_883 {
  width: 576px;
  height: 280px;
  background: url("../images/v18_883.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 44px;
  opacity: 1;
  position: absolute;
  top: 329px;
  left: 792px;
  overflow: hidden;
}
.v18_884 {
  width: 576px;
  color: rgba(79,124,149,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Cairo;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: right;
}
.v18_885 {
  width: 576px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 88px;
  left: 0px;
  font-family: Cairo;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v21_1022 {
  width: 576px;
  height: 36px;
  background: url("../images/v21_1022.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 244px;
  left: 0px;
  overflow: hidden;
}
.v21_1023 {
  width: 64px;
  height: 36px;
  background: rgba(79,124,149,1);
  padding: 8px 16px;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  overflow: hidden;
}
.v21_1024 {
  width: 32px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 8px;
  left: 16px;
  font-family: Cairo;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v21_1025 {
  width: 256px;
  height: 36px;
  background: rgba(255,255,255,1);
  padding: 8px 16px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 64px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v21_1028 {
  width: 200px;
  color: rgba(158,158,158,1);
  position: absolute;
  top: 8px;
  left: 40px;
  font-family: Cairo;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: right;
}
.v21_1029 {
  width: 256px;
  height: 36px;
  background: rgba(255,255,255,1);
  padding: 8px 16px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 320px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v21_1030 {
  width: 224px;
  color: rgba(158,158,158,1);
  position: absolute;
  top: 8px;
  left: 16px;
  font-family: Cairo;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: right;
}
.name {
  color: #fff;
}
.v27_3130 {
  width: 100%;
  height: 836px;
  background: rgba(255,255,255,1);
  padding: 80px 120px;
  margin: 80px;
  opacity: 1;
  position: absolute;
  top: 755px;
  left: 0px;
  overflow: hidden;
}
.v27_3131 {
  width: 100%;
  height: 104px;
  background: url("../images/v27_3131.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 120px;
  overflow: hidden;
}
.v27_3132 {
  width: 952px;
  height: 44px;
  background: url("../images/v27_3132.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 124px;
  overflow: hidden;
}
.v27_3133 {
  width: 952px;
  color: rgba(79,124,149,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Cairo;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v27_3134 {
  width: 307px;
  color: rgba(117,117,117,1);
  position: absolute;
  top: 76px;
  left: 446px;
  font-family: Cairo;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v27_3135 {
  width: 100%;
  height: 492px;
  background: url("../images/v27_3135.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 33px;
  opacity: 1;
  position: absolute;
  top: 264px;
  left: 120px;
  overflow: hidden;
}
.v27_3136 {
  width: 512px;
  height: 492px;
  background: url("../images/v27_3136.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 40px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v27_3137 {
  width: 512px;
  height: 117px;
  background: url("../images/v27_3137.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v27_3138 {
  width: 446px;
  height: 117px;
  background: url("../images/v27_3138.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v27_3139 {
  width: 446px;
  height: 36px;
  background: url("../images/v27_3139.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v27_3140 {
  width: 446px;
  color: rgba(33,33,33,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Cairo;
  font-weight: Bold;
  font-size: 28px;
  opacity: 1;
  text-align: right;
}
.v27_3141 {
  width: 446px;
  color: rgba(117,117,117,1);
  position: absolute;
  top: 52px;
  left: 0px;
  font-family: Cairo;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: right;
}
.v27_3142 {
  width: 50px;
  height: 50px;
  background: rgba(248,238,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 462px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v27_3144 {
  width: 512px;
  height: 117px;
  background: url("../images/v27_3144.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 157px;
  left: 0px;
  overflow: hidden;
}
.v27_3145 {
  width: 446px;
  height: 117px;
  background: url("../images/v27_3145.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v27_3146 {
  width: 446px;
  height: 36px;
  background: url("../images/v27_3146.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v27_3147 {
  width: 446px;
  color: rgba(33,33,33,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Cairo;
  font-weight: Bold;
  font-size: 28px;
  opacity: 1;
  text-align: right;
}
.v27_3148 {
  width: 446px;
  color: rgba(117,117,117,1);
  position: absolute;
  top: 52px;
  left: 0px;
  font-family: Cairo;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: right;
}
.v27_3149 {
  width: 50px;
  height: 50px;
  background: rgba(248,238,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 462px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v27_3151 {
  width: 512px;
  height: 117px;
  background: url("../images/v27_3151.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 314px;
  left: 0px;
  overflow: hidden;
}
.v27_3152 {
  width: 446px;
  height: 117px;
  background: url("../images/v27_3152.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v27_3153 {
  width: 446px;
  height: 36px;
  background: url("../images/v27_3153.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v27_3154 {
  width: 446px;
  color: rgba(33,33,33,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Cairo;
  font-weight: Bold;
  font-size: 28px;
  opacity: 1;
  text-align: right;
}
.v27_3155 {
  width: 446px;
  color: rgba(117,117,117,1);
  position: absolute;
  top: 52px;
  left: 0px;
  font-family: Cairo;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: right;
}
.v27_3156 {
  width: 50px;
  height: 50px;
  background: rgba(248,238,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 462px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v27_3158 {
  width: 655px;
  height: 492px;
  background: url("../images/v27_3158.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 545px;
  overflow: hidden;
}
.v27_3159 {
  width: 655px;
  height: 492px;
  background: url("../images/v27_3159.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v27_3160 {
  width: 655px;
  height: 492px;
  background: rgba(248,238,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v27_3161 {
  width: 655px;
  height: 489px;
  background: url("../images/v27_3161.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v27_3162 {
  width: 655px;
  height: 489px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v27_3163 {
  width: 970px;
  height: 1600px;
  background: url("../images/v27_3163.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 409px;
  left: 187px;
  overflow: hidden;
}
.v27_3164 {
  width: 970px;
  height: 1600px;
  background: url("../images/v27_3164.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v18_900 {
  width: 100%;
  height: 107px;
  background: linear-gradient(rgba(132,105,150,1), rgba(240,246,254,0));
  padding: 20px 72px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 107px;
  left: 0px;
  overflow: hidden;
}
.v18_901 {
  width: 100%;
  height: 67px;
  background: url("../images/v18_901.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 808px;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 72px;
  overflow: hidden;
}
.v18_921 {
  width: 100%;
  height: 44px;
  background: url("../images/v18_921.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 6px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v29_6823 {
  width: 100%;
  height: 482px;
  background: rgba(255,255,255,1);
  padding: 80px 120px;
  margin: 50px;
  opacity: 1;
  position: absolute;
  top: 2096px;
  left: 0px;
  overflow: hidden;
}
.v29_6824 {
  width: 100%;
  height: 44px;
  background: url("../images/v29_6824.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 120px;
  overflow: hidden;
}
.v29_6825 {
  width: 952px;
  height: 44px;
  background: url("../images/v29_6825.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 124px;
  overflow: hidden;
}
.v29_6826 {
  width: 952px;
  color: rgba(79,124,149,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Cairo;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v29_6827 {
  width: 100%;
  height: 228px;
  background: url("../images/v29_6827.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 20px 20px;
  margin: 50px;
  opacity: 1;
  position: absolute;
  top: 174px;
  left: 53px;
  overflow: hidden;
}
.v29_6828 {
  width: 100%;
  height: 188px;
  background: url("../images/v29_6828.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 42px;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 20px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v29_6830 {
  width: 534px;
  height: 188px;
  background: rgba(255,255,255,1);
  padding: 24px 24px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 92px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.10000000149011612);
  overflow: hidden;
}
.v29_6831 {
  width: 221px;
  height: 60px;
  background: url("../images/v29_6831.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 289px;
  overflow: hidden;
}
.v29_6832 {
  width: 151px;
  height: 54px;
  background: url("../images/v29_6832.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v29_6833 {
  width: 79px;
  color: rgba(33,33,33,1);
  position: absolute;
  top: 0px;
  left: 72px;
  font-family: Cairo;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v29_6834 {
  width: 151px;
  color: rgba(158,158,158,1);
  position: absolute;
  top: 34px;
  left: 0px;
  font-family: Cairo;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v29_6835 {
  width: 60px;
  height: 60px;
  background: rgba(245,245,245,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 161px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v29_6837 {
  width: 486px;
  color: url("../images/v29_6837.png");
  position: absolute;
  top: 92px;
  left: 24px;
  font-family: Cairo;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: right;
}
.v29_6838 {
  width: 534px;
  height: 188px;
  background: rgba(255,255,255,1);
  padding: 24px 24px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 668px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.10000000149011612);
  overflow: hidden;
}
.v29_6839 {
  width: 229px;
  height: 60px;
  background: url("../images/v29_6839.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 281px;
  overflow: hidden;
}
.v29_6840 {
  width: 159px;
  height: 54px;
  background: url("../images/v29_6840.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v29_6841 {
  width: 90px;
  color: rgba(33,33,33,1);
  position: absolute;
  top: 0px;
  left: 69px;
  font-family: Cairo;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v29_6842 {
  width: 159px;
  color: rgba(158,158,158,1);
  position: absolute;
  top: 34px;
  left: 0px;
  font-family: Cairo;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v29_6843 {
  width: 60px;
  height: 60px;
  background: rgba(245,245,245,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 169px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v29_6845 {
  width: 486px;
  color: url("../images/v29_6845.png");
  position: absolute;
  top: 92px;
  left: 24px;
  font-family: Cairo;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: right;
}
.name {
  color: #fff;
}
.v29_7339 {
  width: 100%;
  height: 604px;
  background: linear-gradient(rgba(132,105,150,1), rgba(240,246,254,0));
  padding: 80px 120px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 2578px;
  left: 0px;
  overflow: hidden;
}
.v29_7340 {
  width: 100%;
  height: 423px;
  background: url("../images/v29_7340.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 47px;
  opacity: 1;
  position: absolute;
  top: 90px;
  left: 120px;
  overflow: hidden;
}
.v29_7341 {
  width: 100%;
  height: 238px;
  background: url("../images/v29_7341.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 179px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v29_7342 {
  width: 666px;
  height: 191px;
  background: url("../images/v29_7342.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 138px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v29_7343 {
  width: 79px;
  height: 125px;
  background: url("../images/v29_7343.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 15px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v29_7344 {
  width: 79px;
  color: rgba(79,124,149,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Cairo;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: right;
}
.v29_7345 {
  width: 54px;
  height: 86px;
  background: url("../images/v29_7345.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 13px;
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 25px;
  overflow: hidden;
}
.v29_7346 {
  width: 54px;
  color: rgba(69,51,82,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Cairo;
  font-weight: Regular;
  font-size: 14px;
  opacity: 0.699999988079071;
  text-align: right;
}
.v29_7347 {
  width: 31px;
  color: rgba(69,51,82,1);
  position: absolute;
  top: 33px;
  left: 23px;
  font-family: Cairo;
  font-weight: Regular;
  font-size: 14px;
  opacity: 0.699999988079071;
  text-align: right;
}
.v29_7348 {
  width: 32px;
  color: rgba(69,51,82,1);
  position: absolute;
  top: 66px;
  left: 22px;
  font-family: Cairo;
  font-weight: Regular;
  font-size: 14px;
  opacity: 0.699999988079071;
  text-align: right;
}
.v29_7349 {
  width: 190px;
  height: 154px;
  background: url("../images/v29_7349.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 15px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 217px;
  overflow: hidden;
}
.v29_7350 {
  width: 190px;
  color: rgba(79,124,149,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Cairo;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: right;
}
.v29_7351 {
  width: 159px;
  height: 115px;
  background: url("../images/v29_7351.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 31px;
  overflow: hidden;
}
.v29_7352 {
  width: 159px;
  color: rgba(69,51,82,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Cairo;
  font-weight: Regular;
  font-size: 14px;
  opacity: 0.699999988079071;
  text-align: right;
}
.v29_7353 {
  width: 159px;
  color: rgba(69,51,82,1);
  position: absolute;
  top: 32px;
  left: 0px;
  font-family: Cairo;
  font-weight: Regular;
  font-size: 14px;
  opacity: 0.699999988079071;
  text-align: right;
}
.v29_7354 {
  width: 159px;
  color: rgba(69,51,82,1);
  position: absolute;
  top: 64px;
  left: 0px;
  font-family: Cairo;
  font-weight: Regular;
  font-size: 14px;
  opacity: 0.699999988079071;
  text-align: right;
}
.v29_7355 {
  width: 121px;
  height: 191px;
  background: url("../images/v29_7355.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 15px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 545px;
  overflow: hidden;
}
.v29_7356 {
  width: 105px;
  color: rgba(79,124,149,1);
  position: absolute;
  top: 0px;
  left: 16px;
  font-family: Cairo;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v29_7357 {
  width: 121px;
  height: 152px;
  background: url("../images/v29_7357.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 13px;
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 0px;
  overflow: hidden;
}
.v29_7358 {
  width: 57px;
  color: rgba(69,51,82,1);
  position: absolute;
  top: 0px;
  left: 64px;
  font-family: Cairo;
  font-weight: Regular;
  font-size: 14px;
  opacity: 0.699999988079071;
  text-align: left;
}
.v29_7359 {
  width: 121px;
  color: rgba(69,51,82,1);
  position: absolute;
  top: 33px;
  left: 0px;
  font-family: Cairo;
  font-weight: Regular;
  font-size: 14px;
  opacity: 0.699999988079071;
  text-align: left;
}
.v29_7360 {
  width: 51px;
  color: rgba(69,51,82,1);
  position: absolute;
  top: 66px;
  left: 70px;
  font-family: Cairo;
  font-weight: Regular;
  font-size: 14px;
  opacity: 0.699999988079071;
  text-align: left;
}
.v29_7361 {
  width: 74px;
  color: rgba(69,51,82,1);
  position: absolute;
  top: 99px;
  left: 47px;
  font-family: Cairo;
  font-weight: Regular;
  font-size: 14px;
  opacity: 0.699999988079071;
  text-align: left;
}
.v29_7362 {
  width: 82px;
  color: rgba(69,51,82,1);
  position: absolute;
  top: 132px;
  left: 39px;
  font-family: Cairo;
  font-weight: Regular;
  font-size: 14px;
  opacity: 0.699999988079071;
  text-align: left;
}
.v29_7363 {
  width: 355px;
  height: 238px;
  background: url("../images/v29_7363.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 26px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 845px;
  overflow: hidden;
}
.v29_7364 {
  width: 256px;
  color: rgba(79,124,149,1);
  position: absolute;
  top: 0px;
  left: 99px;
  font-family: Cairo;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: right;
}
.v29_7365 {
  width: 355px;
  color: rgba(69,51,82,1);
  position: absolute;
  top: 70px;
  left: 0px;
  font-family: Cairo;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: justified;
}
.v29_7366 {
  width: 100%;
  height: 1px;
  background: rgba(79,124,149,1);
  opacity: 0.05999999865889549;
  position: absolute;
  top: 285px;
  left: 0px;
  border: 1px solid rgba(79,124,149,1);
  overflow: hidden;
}
.v29_7367 {
  width: 100%;
  height: 90px;
  background: url("../images/v29_7367.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 293px;
  opacity: 1;
  position: absolute;
  top: 333px;
  left: 0px;
  overflow: hidden;
}
.v29_7368 {
  width: 135px;
  height: 35px;
  background: url("../images/v29_7368.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 15px;
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 0px;
  overflow: hidden;
}
.v29_7369 {
  width: 35px;
  height: 35px;
  background: url("../images/v29_7369.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v29_7370 {
  width: 35px;
  height: 35px;
  background: rgba(255,255,255,0.00009999999747378752);
  opacity: 0.10000000149011612;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1.5px solid rgba(69,51,82,1);
}
.name {
  color: #fff;
}
.v29_7372 {
  width: 35px;
  height: 35px;
  background: url("../images/v29_7372.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 50px;
  overflow: hidden;
}
.v29_7373 {
  width: 35px;
  height: 35px;
  background: url("../images/v29_7373.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v29_7374 {
  width: 35px;
  height: 35px;
  background: rgba(255,255,255,0.00009999999747378752);
  opacity: 0.10000000149011612;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1.5px solid rgba(69,51,82,1);
}
.name {
  color: #fff;
}
.v29_7376 {
  width: 35px;
  height: 35px;
  background: url("../images/v29_7376.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 100px;
  overflow: hidden;
}
.v29_7377 {
  width: 35px;
  height: 35px;
  background: rgba(255,255,255,0.00009999999747378752);
  opacity: 0.10000000149011612;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1.5px solid rgba(69,51,82,1);
}
.name {
  color: #fff;
}
.v29_7379 {
  width: 195px;
  height: 20px;
  background: url("../images/v29_7379.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 36px;
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 529px;
  overflow: hidden;
}
.v29_7380 {
  width: 195px;
  color: rgba(69,51,82,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Cairo;
  font-weight: SemiBold;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v213_2124 {
  width: 81px;
  height: 90px;
  background: url("../images/v213_2124.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1118px;
  overflow: hidden;
}
.v216_678 {
  width: 100%;
  height: 520px;
  background: url("../images/v216_678.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 23px;
  opacity: 1;
  position: absolute;
  top: 1591px;
  left: 4px;
  overflow: hidden;
}
.v28_3771 {
  width: 100%;
  height: 104px;
  background: url("../images/v28_3771.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 123px;
  overflow: hidden;
}
.v28_3772 {
  width: 952px;
  height: 44px;
  background: url("../images/v28_3772.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 124px;
  overflow: hidden;
}
.v28_3773 {
  width: 952px;
  color: rgba(79,124,149,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Cairo;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v28_3774 {
  width: 333px;
  color: rgba(23,45,86,1);
  position: absolute;
  top: 76px;
  left: 433px;
  font-family: Cairo;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v216_677 {
  width: 100%;
  height: 393px;
  background: url("../images/v216_677.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 127px;
  left: 0px;
  overflow: hidden;
}
.v216_655 {
  width: 100%;
  height: 393px;
  background: url("../images/v216_655.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v216_650 {
  width: 100%;
  height: 193px;
  background: linear-gradient(rgba(132,105,150,1), rgba(240,246,254,0));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0px solid rgba(0,0,0,1);
}
.v216_651 {
  width: 100%;
  height: 193px;
  background: linear-gradient(rgba(132,105,150,1), rgba(240,246,254,0));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1447px;
  border: 0px solid rgba(0,0,0,1);
}
.v216_652 {
  width: 100%;
  height: 200px;
  background: linear-gradient(rgba(132,105,150,1), rgba(240,246,254,0));
  opacity: 1;
  position: absolute;
  top: 393px;
  left: 0px;
  border: 0px solid rgba(0,0,0,1);
}
.v216_653 {
  width: 100%;
  height: 200px;
  background: linear-gradient(rgba(132,105,150,1), rgba(240,246,254,0));
  opacity: 1;
  position: absolute;
  top: 393px;
  left: 1447px;
  border: 0px solid rgba(0,0,0,1);
}
.v216_676 {
  width: 100%;
  height: 89px;
  background: url("../images/v216_676.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 160px;
  opacity: 1;
  position: absolute;
  top: 148px;
  left: 123px;
  overflow: hidden;
}
.v216_673 {
  width: 123px;
  height: 89px;
  background: url("../images/v216_673.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 25px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v216_674 {
  width: 123px;
  color: rgba(69,51,82,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Cairo;
  font-weight: Bold;
  font-size: 50px;
  opacity: 1;
  text-align: center;
}
.v216_675 {
  width: 109px;
  color: rgba(69,51,82,1);
  position: absolute;
  top: 61px;
  left: 7px;
  font-family: Cairo;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: center;
}
.v216_1318 {
  width: 123px;
  height: 89px;
  background: url("../images/v216_1318.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 25px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 245px;
  overflow: hidden;
}
.v216_1319 {
  width: 123px;
  color: rgba(69,51,82,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Cairo;
  font-weight: Bold;
  font-size: 50px;
  opacity: 1;
  text-align: center;
}
.v216_1320 {
  width: 122px;
  color: rgba(69,51,82,1);
  position: absolute;
  top: 61px;
  left: 0px;
  font-family: Cairo;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: center;
}
.v216_670 {
  width: 167px;
  height: 89px;
  background: url("../images/v216_670.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 25px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 490px;
  overflow: hidden;
}
.v216_671 {
  width: 123px;
  color: rgba(69,51,82,1);
  position: absolute;
  top: 0px;
  left: 22px;
  font-family: Cairo;
  font-weight: Bold;
  font-size: 50px;
  opacity: 1;
  text-align: center;
}
.v216_672 {
  width: 167px;
  color: rgba(69,51,82,1);
  position: absolute;
  top: 61px;
  left: 0px;
  font-family: Cairo;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: center;
}
.v216_667 {
  width: 123px;
  height: 89px;
  background: url("../images/v216_667.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 25px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 779px;
  overflow: hidden;
}
.v216_668 {
  width: 123px;
  color: rgba(69,51,82,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Cairo;
  font-weight: Bold;
  font-size: 50px;
  opacity: 1;
  text-align: center;
}
.v216_669 {
  width: 121px;
  color: rgba(69,51,82,1);
  position: absolute;
  top: 61px;
  left: 1px;
  font-family: Cairo;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: center;
}
.v216_660 {
  width: 176px;
  height: 89px;
  background: url("../images/v216_660.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 25px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1024px;
  overflow: hidden;
}
.v28_3798 {
  width: 123px;
  color: rgba(69,51,82,1);
  position: absolute;
  top: 0px;
  left: 26px;
  font-family: Cairo;
  font-weight: Bold;
  font-size: 50px;
  opacity: 1;
  text-align: center;
}
.v28_3800 {
  width: 176px;
  color: rgba(69,51,82,1);
  position: absolute;
  top: 61px;
  left: 0px;
  font-family: Cairo;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: center;
}
